<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="trace_id" value="{{this.trace_id}}" placeholder="Trace ID" name="trace_id">
    <label for="trace_id">Trace ID</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="file_id" value="{{this.file_id}}" placeholder="File ID" name="file_id">
    <label for="file_id">File ID</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="switch_id" value="{{this.switch_id}}" placeholder="Switch ID" name="switch_id">
    <label for="switch_id">Switch ID</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="timestamp" value="{{this.timestamp}}" placeholder="YYYY-MM-DD HH:MM:SS" name="timestamp">
    <label for="timestamp">Timestamp</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="file_size" value="{{this.file_size}}" placeholder="File Size" name="file_size">
    <label for="file_size">File Size</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit Report</button>
</div>
